#  Selecting / Querying

We assume that you have [generated a SDK](generation.html) for the `WindTurbine` model and have a client ready to go.

Selecting/Querying is a different way of retrieving data than doing `.list()`, `.retrieve()`, `search()` in that it supports retrieving nested data structures, including filtering anywhere on the retrieved data structure. SDKs generated by `pygen` have two ways of selecting/querying which we will refer to as Python and GraphQL qurying. In this section, we will go through both of them,
and list limitations as well as when to use one over the other.

In [1]:
import warnings

warnings.filterwarnings("ignore")
# This is just to enable improting the generated SDK from the examples folder in the pygen repository
import sys  # noqa: E402

from tests.constants import REPO_ROOT  # noqa: E402

sys.path.append(str(REPO_ROOT / "examples"))

In [2]:
from wind_turbine import WindTurbineClient

In [3]:
pygen = WindTurbineClient.from_toml("config.toml")

## Comparison

<img src="images/windturbine_type.png" width="400">


### Python Based Querying/Selecting

**Advantages**

* Discovarability through the IDE through autocompletion.
* The returning data classes have required/optional set as in the data model, which are useful for static type checking and IDE auto complete.
* Regular filtering has same syntax as querying along any edge, direct relation, or reverse direct relation.

**Limitations**

* You can only query along one chain of connections. For example, if we start from `WindTurbine` above we can either go to blades or metmast, not both.


### GraphQL Based Querying

**Advantages**

* Flexiblity in querying. You can retrieve anything you can write up as a graphql query. 

**Limitations**

* Difficult to write the querying, typically you would use the CDF UI to create the query.
* The returning data class has all properties as optional and is thus less structured.
* Can become very verbose when you want to retrieve a lot of properties.

### Summary

GraphQL based querying is more flexible, but gives you less structure on the returning data classes. In addition, the query will have to be created outside of your IDE which requires context switching.

## Python Based Querying

### Examples

**Query: All turbines with nacelle:**

In [4]:
result = pygen.wind_turbine.select().nacelle.list_full()
result

WindTurbineList([WindTurbine(space='sp_wind', external_id='hornsea_1_mill_3', data_record=DataRecord(version=19, last_updated_time=datetime.datetime(2025, 2, 12, 16, 36, 1, 275000, tzinfo=datetime.timezone.utc), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), deleted_time=None), node_type=None, capacity=7.0, description=None, name='hornsea_1_mill_3', power_curve=None, windfarm='Hornsea 1', instanceType='node'),
                 WindTurbine(space='sp_wind', external_id='hornsea_1_mill_2', data_record=DataRecord(version=19, last_updated_time=datetime.datetime(2025, 2, 12, 16, 36, 1, 275000, tzinfo=datetime.timezone.utc), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), deleted_time=None), node_type=None, capacity=7.0, description=None, name='hornsea_1_mill_2', power_curve=None, windfarm='Hornsea 1', instanceType='node'),
                 WindTurbine(space='sp_wind', external_id='hornsea_1_mill_1', data_record=DataRecord(version=19, last_updated_time=datetime.datetime(2025, 2, 12, 16, 36, 1, 275000, tzinfo=datetime.timezone.utc), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), deleted_time=None), node_type=None, capacity=7.0, description=None, name='hornsea_1_mill_1', power_curve=None, windfarm='Hornsea 1', instanceType='node'),
                 WindTurbine(space='sp_wind', external_id='hornsea_1_mill_4', data_record=DataRecord(version=19, last_updated_time=datetime.datetime(2025, 2, 12, 16, 36, 1, 275000, tzinfo=datetime.timezone.utc), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), deleted_time=None), node_type=None, capacity=7.0, description=None, name='hornsea_1_mill_4', power_curve=None, windfarm='Hornsea 1', instanceType='node'),
                 WindTurbine(space='sp_wind', external_id='hornsea_1_mill_5', data_record=DataRecord(version=19, last_updated_time=datetime.datetime(2025, 2, 12, 16, 36, 1, 275000, tzinfo=datetime.timezone.utc), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), deleted_time=None), node_type=None, capacity=7.0, description=None, name='hornsea_1_mill_5', power_curve=None, windfarm='Hornsea 1', instanceType='node')])

**Query: Get all blades for the windturbine named "hornsea_1_mill_1"**

In [5]:
result = pygen.wind_turbine.select().name.equals("hornsea_1_mill_1").blades.list_blade()
result

BladeList([Blade(space='sp_wind', external_id='hornsea_1_mill_1_blade_A', data_record=DataRecord(version=1, last_updated_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), deleted_time=None), node_type=None, is_damaged=True, name='A', instanceType='node'),
           Blade(space='sp_wind', external_id='hornsea_1_mill_1_blade_B', data_record=DataRecord(version=1, last_updated_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), deleted_time=None), node_type=None, is_damaged=False, name='B', instanceType='node'),
           Blade(space='sp_wind', external_id='hornsea_1_mill_1_blade_C', data_record=DataRecord(version=1, last_updated_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), deleted_time=None), node_type=None, is_damaged=False, name='C', instanceType='node')])

**Query: Get all blades for the windmill with external ID "hornsea_1_mill_3" or "hornsea_1_mill_4" with a damaged blade**

In [6]:
result = (
    pygen.wind_turbine.select()
    .external_id.in_(["hornsea_1_mill_3", "hornsea_1_mill_4"])
    .blades.is_damaged.equals(True)
    .list_blade()
)
result

BladeList([Blade(space='sp_wind', external_id='hornsea_1_mill_4_blade_C', data_record=DataRecord(version=1, last_updated_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), deleted_time=None), node_type=None, is_damaged=True, name='C', instanceType='node')])

**Same query as above but return the turbines**

In [7]:
result = (
    pygen.wind_turbine.select()
    .external_id.in_(["hornsea_1_mill_3", "hornsea_1_mill_4"])
    .blades.is_damaged.equals(True)
    .list_full()
)
result

WindTurbineList([WindTurbine(space='sp_wind', external_id='hornsea_1_mill_4', data_record=DataRecord(version=19, last_updated_time=datetime.datetime(2025, 2, 12, 16, 36, 1, 275000, tzinfo=datetime.timezone.utc), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), deleted_time=None), node_type=None, capacity=7.0, description=None, name='hornsea_1_mill_4', power_curve=None, windfarm='Hornsea 1', instanceType='node')])

We can also inspect the query we are doing:

In [13]:
pygen.wind_turbine.select().nacelle

In the query above, we go from `WindTurbine` node through the `nacelle` direct relation to the `Nacelle` node.

### Autocomplete

**Warning Notebook IDE**

*The autocomplete shown in the screenshots below works best in a jupyter notebook IDE. For example, VS Code notebook/PyCharm notebooks/Jupyter Lite (CDF Notebook) you might not get the same autocomplete when writing `.` + tab*.

This style of querying is initiated by calling the `.select()` method on the place we want to start the query. Then, all properties that pygen supports filtering on are available as an attribute on the returning object of query. In addition, all types of connections (edges, direct relations, and reverse direct relations) can be traversed. Illustrated in the screenshot below. To get the list of possible options write `.` and press *tab*.

<img src="images/query_autocomplete.png" width="400">

We can select a properties, and depending on the type of property, we will get the available filters up. For example, `name` is a string property which will make `equals`, `in` and `prefix` filter available.

<img src="images/query_autocomplete_stringfilter.png" width="400">

Ones we have input the filterin values we are back at the source node and can continue to filter on properties of this node or traverse do the next one. In the example below, we traverse to the nacelle:

<img src="images/query_autocomplete_nacelle.png" width="400">

To make the query more readable it is recommended that you use the paranthesis syntax. This makes the query more readable.

<img src="images/query_autocomplete_syntax.png" width="200">

Finally, finish with either `.list_full()` or `.list_<type>()` to return the all nodes and edges in the query, or only the last node.

In [14]:
result = (
    pygen.wind_turbine.select()
    .capacity.range(6.0, 8.0)
    .name.prefix("hornsea")
    .blades.is_damaged.equals(True)
    .list_blade()
)
result

BladeList([Blade(space='sp_wind', external_id='hornsea_1_mill_1_blade_A', data_record=DataRecord(version=1, last_updated_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), deleted_time=None), node_type=None, is_damaged=True, name='A', instanceType='node'),
           Blade(space='sp_wind', external_id='hornsea_1_mill_4_blade_C', data_record=DataRecord(version=1, last_updated_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), deleted_time=None), node_type=None, is_damaged=True, name='C', instanceType='node'),
           Blade(space='sp_wind', external_id='hornsea_1_mill_2_blade_B', data_record=DataRecord(version=1, last_updated_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), deleted_time=None), node_type=None, is_damaged=True, name='B', instanceType='node')])

### Sorting

You can also sort the results returned by the `.select()` method. This is done by the `.sort_ascending()` and `.sort_descending()` property you are sorting.

**Query: Get all damaged blades connected to turbines with capacity between 6.0 and 8.0 and a names that starts with "hornsea". Sort the blades by name**

In [15]:
result = (
    pygen.wind_turbine.select()
    .capacity.range(6.0, 8.0)
    .name.prefix("hornsea")
    .blades.is_damaged.equals(True)
    .name.sort_ascending()
    .list_blade()
)
result

BladeList([Blade(space='sp_wind', external_id='hornsea_1_mill_1_blade_A', data_record=DataRecord(version=1, last_updated_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), deleted_time=None), node_type=None, is_damaged=True, name='A', instanceType='node'),
           Blade(space='sp_wind', external_id='hornsea_1_mill_2_blade_B', data_record=DataRecord(version=1, last_updated_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), deleted_time=None), node_type=None, is_damaged=True, name='B', instanceType='node'),
           Blade(space='sp_wind', external_id='hornsea_1_mill_4_blade_C', data_record=DataRecord(version=1, last_updated_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), deleted_time=None), node_type=None, is_damaged=True, name='C', instanceType='node')])

In addition, for properties of type `TimeStamp`and `Date` you can use `.latest()` and `.earliest()`. This is a shorthand for calling `.sort_descending()`/`.sort_decending()` + setting `limit=1`.

**Query: Get the latest uploaded datasheet for the "hornsea_1_mill_1" turbine**

In [16]:
result = pygen.wind_turbine.select().name.equals("hornsea_1_mill_1").datasheets.uploaded_time.latest().list_data_sheet()
result

DataSheetList([DataSheet(space='sp_wind', external_id='windmill_schematics', data_record=DataRecord(version=2, last_updated_time=datetime.datetime(2024, 11, 16, 14, 19, 28, 542000, tzinfo=datetime.timezone.utc), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), deleted_time=None), node_type=None, description=None, directory=None, is_uploaded=True, mime_type='application/pdf', name='windmill_schematics.pdf', uploaded_time=datetime.datetime(2024, 11, 16, 14, 19, 28, 484000, tzinfo=TzInfo(UTC)), instanceType='node')])

### Direct Relations

We can both traverse and filter on connections that are modeled as a direct relations. `pygen` distinguish these by appending `_filter` to the attribute when filtering and nothing when traversing.

**Query: Get all wind turbines with nacelles.**

In [17]:
result = pygen.wind_turbine.select().nacelle.list_full(limit=5)
result

WindTurbineList([WindTurbine(space='sp_wind', external_id='hornsea_1_mill_3', data_record=DataRecord(version=19, last_updated_time=datetime.datetime(2025, 2, 12, 16, 36, 1, 275000, tzinfo=datetime.timezone.utc), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), deleted_time=None), node_type=None, capacity=7.0, description=None, name='hornsea_1_mill_3', power_curve=None, windfarm='Hornsea 1', instanceType='node'),
                 WindTurbine(space='sp_wind', external_id='hornsea_1_mill_2', data_record=DataRecord(version=19, last_updated_time=datetime.datetime(2025, 2, 12, 16, 36, 1, 275000, tzinfo=datetime.timezone.utc), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), deleted_time=None), node_type=None, capacity=7.0, description=None, name='hornsea_1_mill_2', power_curve=None, windfarm='Hornsea 1', instanceType='node'),
                 WindTurbine(space='sp_wind', external_id='hornsea_1_mill_1', data_record=DataRecord(version=19, last_updated_time=datetime.datetime(2025, 2, 12, 16, 36, 1, 275000, tzinfo=datetime.timezone.utc), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), deleted_time=None), node_type=None, capacity=7.0, description=None, name='hornsea_1_mill_1', power_curve=None, windfarm='Hornsea 1', instanceType='node'),
                 WindTurbine(space='sp_wind', external_id='hornsea_1_mill_4', data_record=DataRecord(version=19, last_updated_time=datetime.datetime(2025, 2, 12, 16, 36, 1, 275000, tzinfo=datetime.timezone.utc), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), deleted_time=None), node_type=None, capacity=7.0, description=None, name='hornsea_1_mill_4', power_curve=None, windfarm='Hornsea 1', instanceType='node'),
                 WindTurbine(space='sp_wind', external_id='hornsea_1_mill_5', data_record=DataRecord(version=19, last_updated_time=datetime.datetime(2025, 2, 12, 16, 36, 1, 275000, tzinfo=datetime.timezone.utc), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), deleted_time=None), node_type=None, capacity=7.0, description=None, name='hornsea_1_mill_5', power_curve=None, windfarm='Hornsea 1', instanceType='node')])

In [18]:
result[0].nacelle

Nacelle(space='sp_wind', external_id='hornsea_1_mill_3_nacelle', data_record=DataRecord(version=1, last_updated_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), deleted_time=None), node_type=None, acc_from_back_side_x='V52-WindTurbine.Acc1N', instanceType='node')

**Query: Get the wind turibne with the nacelle `hornsea_1_mill_3_nacelle`**

In [19]:
result = pygen.wind_turbine.select().nacelle_filter.equals("hornsea_1_mill_3_nacelle").list_full(limit=5)
result

WindTurbineList([WindTurbine(space='sp_wind', external_id='hornsea_1_mill_3', data_record=DataRecord(version=19, last_updated_time=datetime.datetime(2025, 2, 12, 16, 36, 1, 275000, tzinfo=datetime.timezone.utc), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), deleted_time=None), node_type=None, capacity=7.0, description=None, name='hornsea_1_mill_3', power_curve=None, windfarm='Hornsea 1', instanceType='node')])

### Max Selection Depth (Advanced)

When you call `.select()` pygen constructs a data structure that explores all path starting from the location you called select until a maximum depth is reached. If you try to select a path that is longer than this maximum you will get the following error.

In [22]:
try:
    pygen.wind_turbine.select().nacelle.gearbox.displacement_x.list_sensor_time_series()
except ValueError as e:
    print(e)

Max select depth reached. Cannot query deeper than 3.
You can increase the max_select_depth in the global config.
```
from omni.config import global_config

global_config.max_select_depth = 4
```

As we see in the hint, we can increase this limit by setting the `global_config`. 

**Caveat**: If you set this to a high value, the data structure pygen creates when calling `.select()` can become very large. It increases with the number of connections you have in the model, which means for a highly connected model the memory needed will increase exponentially with the depth you set. If you get a `MemoryErrorException` that is typically as a result of a too high max selection depth.

In [23]:
from wind_turbine.config import global_config

In [25]:
global_config.max_select_depth = 4

In [26]:
pygen.wind_turbine.select().nacelle.gearbox.displacement_x.list_sensor_time_series()

SensorTimeSeriesList([SensorTimeSeries(space='sp_wind', external_id='V52-WindTurbine.Gear_D_X', data_record=DataRecord(version=1, last_updated_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=datetime.timezone.utc), deleted_time=None), node_type=None, aliases=['Gearbox Displacement'], concept_id='http://purl.org/aspect/gearbox_displacement', description='Gearbox Displacement X (laser sensor) (not calibrated)', is_step=False, name='Gear_D_X', source_unit='V', standard_name='gearbox_displacement', type_='numeric', instanceType='node')])

## GraphQL based Querying

When querying with GraphQL we must include `__typename` of the top level items as this is used by `pygen` to understand how to pase the object.

The querying method is available on the top level client as this is not particular to any of the data types in your data model

In [15]:
my_query = """{
  listWindTurbine(first:1){
    items{
      __typename
      name
      capacity
      nacelle{
        externalId
      }
      rotor{
        externalId
      }
      blades{
        items{
          name
          is_damaged
        }
      }
    }
  }
}"""

In [16]:
result = pygen.graphql_query(my_query)

In [17]:
result

GraphQLList([WindTurbineGraphQL(space=None, external_id=None, data_record=None, capacity=7.0, description=None, name='hornsea_1_mill_3', power_curve=None, windfarm=None)])

In [18]:
result[0].model_dump(exclude_none=True)

{'blades': [{'is_damaged': False, 'name': 'A'},
  {'is_damaged': False, 'name': 'B'},
  {'is_damaged': False, 'name': 'C'}],
 'capacity': 7.0,
 'nacelle': {'external_id': 'hornsea_1_mill_3_nacelle'},
 'name': 'hornsea_1_mill_3',
 'rotor': {'external_id': 'hornsea_1_mill_3_rotor'}}

In [19]:
turbine = result[0]

In [20]:
turbine.nacelle.external_id

'hornsea_1_mill_3_nacelle'

### Pitfalls

If you forget to include `__typename` on the top level item `pygen` will raise a `Runtime` error

In [22]:
my_invalid_query = """
{
  listWindTurbine(first:1){
    items{
      name
  }
 }
}
"""

In [23]:
try:
    pygen.graphql_query(my_invalid_query)
except RuntimeError as e:
    print(e)

Missing '__typename' in GraphQL response. Cannot determine the type of the response.

### Data Classes

When you call `.list()`, `.retrieve()` and `.search()`, `pygen` returns ther read format of data classes. This read format matches the type/view required/optional properties. 

When you do the `graphql_query` above all properties are optional as `pygen` cannot know which objects you included in your query, thus `pygen` uses a special GraphQL format of the 
data class it is returning

In [24]:
my_query = """{
  listWindTurbine(first:1){
    items{
      name
      __typename
  }
 }
}"""

In [25]:
result = pygen.graphql_query(my_query)

In [26]:
type(result)

wind_turbine.data_classes._core.base.GraphQLList

In [27]:
type(result[0])

wind_turbine.data_classes._wind_turbine.WindTurbineGraphQL

This data class can be converted to a regular write or read format by calling the `as_write` and `as_read` call.

**Warning** If you have not included all required properties in the your GraphQL query, `pygen` will raise an `ValueError` when you do this call.

In [28]:
try:
    result[0].as_read()
except ValueError as e:
    print(e)

2 validation errors for WindTurbine
externalId
  Field required [type=missing, input_value={'name': 'hornsea_1_mill_3'}, input_type=dict]
    For further information visit https://errors.pydantic.dev/2.9/v/missing
data_record
  Field required [type=missing, input_value={'name': 'hornsea_1_mill_3'}, input_type=dict]
    For further information visit https://errors.pydantic.dev/2.9/v/missing

In [29]:
my_query = """{
  listWindTurbine(first:1){
    items{
      name
      space
      externalId
      createdTime
      lastUpdatedTime
      __typename
  }
 }
}"""

In [30]:
result = pygen.graphql_query(my_query)

In [31]:
windmill_read = result[0].as_read()
windmill_read

WindTurbine(space='sp_wind', external_id='hornsea_1_mill_3', data_record=DataRecord(version=0, last_updated_time=datetime.datetime(2024, 12, 17, 9, 57, 38, 908000, tzinfo=TzInfo(UTC)), created_time=datetime.datetime(2024, 11, 16, 14, 8, 1, 544000, tzinfo=TzInfo(UTC)), deleted_time=None), node_type=None, capacity=None, description=None, name='hornsea_1_mill_3', power_curve=None, windfarm=None)

In [32]:
type(windmill_read)

wind_turbine.data_classes._wind_turbine.WindTurbine

In [33]:
windmill_write = result[0].as_write()
windmill_write

WindTurbineWrite(space='sp_wind', external_id='hornsea_1_mill_3', data_record=DataRecordWrite(existing_version=0), node_type=None, capacity=None, description=None, name='hornsea_1_mill_3', power_curve=None, windfarm=None)

In [34]:
type(windmill_write)

wind_turbine.data_classes._wind_turbine.WindTurbineWrite

### Paging

If we include a `pageInfo` in our query this will be available directly on the result returned from the `.graphql_query` method

In [35]:
my_query = """
{
  listWindTurbine{
    items{
      __typename
      name
  }
	pageInfo{
    hasNextPage
    hasPreviousPage
    startCursor
    endCursor
  }
 }
}"""

In [36]:
result = pygen.graphql_query(my_query)

In [37]:
result.page_info.has_next_page

True

In [40]:
result.page_info.end_cursor

'Z0FBQUFBQm5jcVdlTGd2ZmRFdVNrLW1PUnFvaEl0RV8xaGU4cU95d2o1SWFQdWxFZVVyeTZ4OEhKR09kNjIzMTh4b1BYU09jZHI1bkhRN05rMDkzUWhubnFkRVhVNjB0bUZkd0JFQ3BzS0l6ZVBuRUdIQXRGX0tza2tTVVhlWkV6cUMxVGdyX2t1aEk4S1Bvd0Y0aVJnUDk0NU41d2M1R3pFV2ZnelpOS1J6RDkxTWRiUTY2SHB2Y0ZEc05MVElLbk9WQjNaUERtaE1DRlY4akhWSmhZWmJHZzhVaEFLdm5rQjFHbU9vNFRFQm5BUG90ZXNlNHhPQm5HUEZzajJZSmhJNjFpVFYzcEpkVQ=='

### Datapoints

You can use the `getDatapoints` to include datapoints for a referenced timeseries.

In [49]:
my_query = """{
  listMetmast(first: 1){
    items{
      __typename
      temperature{
        externalId
        name
        getDataPoints(granularity: "1d", aggregates: SUM, first: 100){
          items{
            timestamp
            sum
          }
        }
      }
    }
  }
}"""

In [50]:
result = pygen.graphql_query(my_query)
metmast = result[0]

In [51]:
metmast.temperature.data.to_pandas()

            utsira_station_temperature|sum
2020-12-31                       -9.844667
2021-01-01                     -254.494219
2021-01-02                     -495.438664
2021-01-03                     -588.549775
2021-01-04                     -602.327553
...                                    ...
2021-04-05                       87.561336
2021-04-06                      235.783558
2021-04-07                      295.394670
2021-04-08                      167.116892
2021-04-09                       -0.383108

[100 rows x 1 columns]

You can use the `getLatestDataPoint` to include the latest datapoint for a referenced timeseries.

In [52]:
my_query = """{
  listMetmast(first: 1){
    items{
      __typename
      temperature{
        externalId
        name
        getLatestDataPoint{
          items{
            timestamp
            value
          }
        }
      }
    }
  }
}"""

In [54]:
result = pygen.graphql_query(my_query)
metmast = result[0]

In [56]:
metmast.temperature.latest

Next section: [Creating and Deleting](creating_deleting.html)